/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;

}
html{
    scroll-behavior: smooth;
}
/* For right blank area */
/* body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
} */

/* CSS Variables */
:root {
    --nav-height: 59px;
}

/* Utility Class*/
.h1-primary-color {
    color: white;
    font-size: 3rem;
    font-family: 'Baloo Bhai', sans-serif;
    padding: 12px;
    text-align: center;

}

.h2-primary-color {
    color: rgb(62, 59, 59);
    font-size: 25px;
    font-family: cursive;
    padding: 12px;
    text-align: center;


}

.p-primary {
    color: rgb(238, 238, 238);
    font-size: 20px;
    font-family: 'Roboto', serif;
    padding: 5px;
    text-align: center;


}

.text-center {
    text-align: center;
}

.flex-display {
    display: flex;
}
.hr-style{
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 10px;
}

/* Navbar Section */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

/* Navbar: Logo and Img */

#logo img {
    height: 77px;
    width: 129px;
    margin: 12px 12px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

/* List Styles */
#navbar ul {
    display: flex;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 28px;
    font-family: 'Sofia', sans-serif;
}

#navbar ul li a:hover {
    color: rgb(23, 21, 21);
    display: block;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
}

/*  Section:Home */
#home::before {
    content: "";
    position: absolute;
    height: 693px;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    background: url('../img/f_background.jpg') no-repeat center center/cover;
    opacity: 0.89;

}

#home {
    display: flex;
    height: 578px;
    flex-direction: column;
    padding: 4px 200px;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
}

/* Order Now button */
.btn {
    padding: 6px 20px;
    border: 2px solid orange;
    background-color: rgb(160, 44, 2);
    font-size: 1.5rem;
    font-family: 'Fugaz One';
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 17px 17px;
}

/* Section:services */
#services {
    margin:2px 17px;
    display: flex;

}



#service h1 {

    color: #000;

}

#services .box {
    border: 2px solid rgb(209, 139, 114);
    margin: 5px 7px;
    padding: 24px;
    border-radius: 28px;
    background-color: rgb(233, 230, 230);
}

#services .box img {
    height: 250px;
    display: block;
    margin: auto;

}

/* Client section */
#client::before {
    content: "";
    position: absolute;
    background: url('../img/brands_bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#client {
    position: relative;

}

#client h1 {
    color: #000;

}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients img {
    height: 68px;
}

.clients-item {
    padding: 34px;
}

/* Contact section */

#contact{
    position: relative;
 
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .8;
    background: url('../img/contact.svg') center center/contain ;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    
} 
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
}
#submitbtn{
    width:140px;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: bold;
    background: #C539B4;
    border: 3px solid #f99ed0;
    color: aliceblue;
}
#submitbtn:hover{
    background: #852999;
    border: 3px solid #c28ba9;
}
.submit{
display: flex;
align-items: center;
justify-content: center;
}
/* footer style */
footer{
    background-color: rgb(78, 76, 76);
    color: rgb(255, 255, 255);
    /* height: 40px; */
    /* position: relative; */
   
}
#foot{
    box-shadow: inset 0px 10px 6px 2px rgb(199, 124, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}